@import '../../styles/color';



  .navbar{
    //background-color: rgba(0, 0, 0, 0.34);
    padding: 0 5%;
  }


  .logo{
    padding-bottom: 50%;

  }

  .logo_width{
    padding: 15px 0;
    width: 130px;
    display: inline-block;

    img{
      width: 100%;
    }

  }

  .navLinks{

    margin-left: 100px;
    display: flex;
    width: 50%;

    input{
      width: 100%;
      height: 42px;
    }

    a{
      margin-left: 40px;
      font-size: 16px;
      color: black;

    }

    button{
      margin-left: 10px;
      border-radius: 3px;
      height: 42px;
      line-height: 42px;
      background-color: #f73357;
      color: white;
      border: none;
    }

  }

  .navLinks_active{
    color: #e38b45 !important;
  }

  .nav_abs{
    background-color: white;
    z-index: 4;

  }




@media only screen and (max-width: 768px) {
    .navLinks{
      display: none !important;
    }

  .logo_width{
    margin: auto;
    width: 110px;
  }

}














